
@{
    ViewData["Title"] = "Job";
}


    <!-- Blog -->
    <div id="job" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">
                <div class="col-md-9">
                    <div style="margin-bottom:2%;" class="row">
                        <div class="blog">
                            <div class="col-sm-8" style="cursor: pointer;">
                                <h3 style="margin-bottom:0px;">WebDevelopment Job</h3>
                                <h4 style="margin-bottom:0px;">Company Name here</h4>
                                <ul style="margin-bottom:4px;" class="blog-meta">
                                    <li>
                                        <i class="fa fa-envelope"></i>required experience
                                    </li>
                                    <li>
                                        <i class="fa fa-clock-o"></i>date of upload
                                    </li>
                                    <li>
                                        <i class="fa fa-dollar"></i>salary
                                    </li>
                                </ul>

                                <p>
                                    We need a student who works 9 to 5 and know java development, we don't need any asp.net developers.
                                </p>
                                <a href="jobDescription.html">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom:2%;" class="row">
                        <div class="blog">

                            <div class="col-sm-8" style="cursor: pointer;">
                                <h3 style="margin-bottom:0px;">Android Developer Job</h3>
                                <h5 style="margin-bottom:0px;">Company Name here</h5>
                                <ul style="margin-bottom:4px;" class="blog-meta">
                                    <li>
                                        <i class="fa fa-envelope"></i>required experience
                                    </li>
                                    <li>
                                        <i class="fa fa-clock-o"></i>date of upload
                                    </li>
                                    <li>
                                        <i class="fa fa-dollar"></i>salary
                                    </li>
                                </ul>
                                <p>
                                    Need a developer who can make our biscuits look more cool in android app.
                                </p>
                                <a asp-area="" asp-controller="Job" asp-action="JobSingle"><u>Read More</u></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Aside -->
                <aside id="aside" class="col-md-3">

                    <!-- Search -->
                    <div class="widget">
                        <div class="widget-search">
                            <input class="search-input" type="text" placeholder="search jobs">
                            <button class="search-btn" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /Search -->
                    <!-- Category -->
                    <div class="widget">
                        <h3 class="title">Job Categories</h3>
                        <div class="widget-category">
                            <a href="#">
                                Web Design
                                <span>(7)</span>
                            </a>
                            <a href="#">
                                Marketing
                                <span>(142)</span>
                            </a>
                            <a href="#">
                                Web Development
                                <span>(74)</span>
                            </a>
                        </div>
                        <div style="margin:1em;">
                            <h3 class="title">Gender </h3>
                            <div class="widget-category">
                                <a><input type="Radio" name="gender" value="male"> Male <span>(7)</span><br>  </input></a>
                                <a><input type="Radio" name="gender" value="female"> Female<span>(7)</span> <br></input></a>
                            </div>
                            <div style="margin:1em;">
                                <h3 class="title"> experience </h3>
                                <div class="widget-category">
                                    <a><input type="Radio" name="experience" value="4 Years"> 4 Years <span>(7)</span><br>  </input></a>
                                    <a><input type="Radio" name="gender" value="6 Years"> 6 Years<span>(7)</span> <br></input></a>
                                </div>

                            </div>
                        </div>
                        <!-- /Category -->
                        <!-- Posts sidebar -->
                        <div class="widget">
                            <h3 class="title">Latest Jobs Posts</h3>

                            <!-- single post -->
                            <div class="widget-post">
                                <a href="#">
                                    Job title goes here
                                </a>
                                <ul style="margin-bottom:4px;" class="blog-meta">
                                    <li>
                                        <i class="fa fa-clock-o"></i>date of upload
                                    </li>
                                    <li>
                                        <i class="fa fa-dollar"></i>salary
                                    </li>
                                </ul>
                            </div>
                            <!-- /single post -->
                            <!-- single post -->
                            <div class="widget-post">
                                <a href="#">
                                    Job title goes here
                                </a>
                                <li>
                                    <i class="fa fa-clock-o"></i>date of upload
                                </li>
                                <li>
                                    <i class="fa fa-dollar"></i>salary
                                </li>
                            </div>
                            <!-- /single post -->
                            <!-- single post -->
                            <div class="widget-post">
                                <a href="#">
                                    Job title goes here
                                </a>
                                <ul class="blog-meta">
                                    <li>Oct 18, 2017</li>
                                </ul>
                            </div>
                            <!-- /single post -->

                        </div>
                        <!-- /Posts sidebar -->
                        <!-- Tags -->
                        <div class="widget">
                            <h3 class="title">Tags</h3>
                            <div class="widget-tags">
                                <a href="#">Web</a>
                                <a href="#">Design</a>
                                <a href="#">Graphic</a>
                                <a href="#">Marketing</a>
                                <a href="#">Development</a>
                            </div>
                        </div>
                        <!-- /Tags -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /job -->
