
@{
    ViewData["Title"] = "JobSingle";
}

  <!-- Blog -->
    <div id="blog" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">
                <!-- Main -->
                <main id="main" class="col-md-9">
                    <div class="job">
                        <div class="blog-content">
                            <h3>Job Title</h3>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><h6>Experience</h6></td>
                                        <td>5 years</td>
                                        <td><h6>Qualification</h6></td>
                                        <td> Graduate</td>
                                    </tr>
                                    <tr>
                                        <td><h6>Job Shift</h6></td>
                                        <td>Day</td>
                                        <td><h6>Job Type</h6></td>
                                        <td>Part Time</td>
                                    </tr>
                                    <tr>

                                        <td><h6>Post Date</h6></td>
                                        <td>6 Apr 2017</td>
                                        <td><h6>End Date</h6></td>
                                        <td>20 Dec 2017</td>
                                    </tr>
                                </tbody>
                            </table>


                            <p>
                                Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
                                ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
                                Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
                                Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
                                ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
                                Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
                                Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
                                ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
                                Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
                            </p>
                        </div>

                        <div class="blog-tags">
                            <ul style="margin-bottom:4px;" class="blog-meta">
                                <li>
                                    <i class="fa fa-envelope"></i>required experience
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i>date of upload
                                </li>
                                <li>
                                    <i class="fa fa-dollar"></i>salary
                                </li>
                            </ul>
                        </div>


                </main>
                <!-- /Main -->
                <!-- Aside -->
                <aside id="aside" class="col-md-3">
                    <!-- Posts sidebar -->
                    <div class-"col-md-3">
                        <button class="main-btn btn-block" style="margin-bottom:2em; padding:1em;"> Apply </button>
                        <div class="widget">
                            <h3 class="title">Related Jobs</h3>

                            <!-- single post -->
                            <div class="widget-post">
                                <a href="#">
                                    Job title goes here
                                </a>
                                <ul class="job-meta">
                                    <li>Oct 18, 2017</li>
                                </ul>
                            </div>
                            <!-- /single post -->
                            <!-- single post -->
                            <div class="widget-post">
                                <a href="#">
                                    Job title goes here
                                </a>
                                <ul class="job-meta">
                                    <li>Oct 18, 2017</li>
                                </ul>
                            </div>
                            <!-- /single post -->
                            <!-- single post -->
                            <div class="widget-post">
                                <a href="#">
                                    Job title goes here
                                </a>
                                <ul class="job-meta">
                                    <li>Oct 18, 2017</li>
                                </ul>
                            </div>
                            <!-- /single post -->

                        </div>
                        <!-- /Posts sidebar -->
                        <!-- Tags -->
                        <div class="widget">
                            <h3 class="title">Tags</h3>
                            <div class="widget-tags">
                                <a href="#">Web</a>
                                <a href="#">Design</a>
                                <a href="#">Graphic</a>
                                <a href="#">Marketing</a>
                                <a href="#">Development</a>
                            </div>
                        </div>
                        <!-- /Tags -->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->
