
@{
    ViewData["Title"] = "Index";
}

<div class="container" style="margin:1em; padding:1em; margin-left:5em; ">
    <form class="needs-validation">
        <div class="form-row">
            <div class="form-group col-md-6">
                <h6 for="CompanyName">Company Name<sup>*</sup></h6>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Company Name" required>
            </div>
            <div class="form-group col-md-6">
                <h6 for="GroupOfCompany">Group of Company</h6>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Group of Company">
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <h6>CEO/Country Head Name<sup>*</sup></h6>
                        <input type="text" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">
                        <h6>Head HR Department<sup>*</sup></h6>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <h6>CEO/Counry Head HR CNIC<sup>*</sup></h6>
                        <input type="text" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">
                        <h6 for="inputPassword4">Job Designation<sup>*</sup></h6>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <h6 for="Industry">Industry<sup>*</sup></h6>
                        <div class="dropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropup
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-h6ledby="dropdownMenu2">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <h6>Product/Service Providing<sup>*</sup></h6>
                        <div class="dropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropup
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-h6ledby="dropdownMenu2">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <h6>Ownership Type<sup>*</sup></h6>
                        <div class="dropup">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropup
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-h6ledby="dropdownMenu2">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <h6>Company Address<sup>*</sup></h6>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <h6>City</h6>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                    <h6 for="inputState">State</h6>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <h6>Zip</h6>
                    <input type="text" class="form-control" id="inputZip">
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <h6>Description</h6>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <h6>Orign of Company<sup>*</sup></h6>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <h6>No of Offices<sup>*</sup></h6>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <h6>Contact Email<sup>*</sup></h6>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <h6>Contact Person<sup>*</sup></h6>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <h6>Company URL</h6>
                <input type="text" class="form-control" id="inputEmail4" placeholder="http://">
            </div>
            <div class="form-group col-md-6">
                <h6>Phone No<sup>*</sup></h6>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <h6>No of Employees</h6>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <h6>Operating Since</h6>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <h6>SECP Company ID</h6>
                <input type="text" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <h6>Video URl</h6>
                <input type="text" class="form-control" id="videoURL">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Company</button>
    </form>
</div>

