
@{
    ViewData["Title"] = "Index";
}

<!-- Blog -->
<div id="blog" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">
            <div class="col-md-9">
                <div style="margin-bottom:2%;" class="row">
                    <div class="blog">
                        <div class="blog-img col-sm-4">
                            <img class="img-responsive" src="~/images/blog1.jpg" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h3 style="margin-bottom:0px;">Publish article on TechIn</h3>
                            <ul style="margin-bottom:4px;" class="blog-meta">
                                <li>
                                    <i class="fa fa-user"></i>Fawad Bin Tariq
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i>18 Oct
                                </li>
                                <li>
                                    <i class="fa fa-comments"></i>57
                                </li>
                            </ul>
                            <p>
                                TechIn allows it users to publish their own articles, Users can earn money but publishing valueable articles on TechIn.
                            </p>
                            <a asp-controller="Articles" asp-action="ArticleSingle">Read more</a>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom:2%;" class="row">
                    <div class="blog">
                        <div class="blog-img col-sm-4">
                            <img class="img-responsive" src="~/images/blog1.jpg" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h3 style="margin-bottom:0px;">Publish article on TechIn</h3>
                            <ul style="margin-bottom:4px;" class="blog-meta">
                                <li>
                                    <i class="fa fa-user"></i>Fawad Bin Tariq
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i>18 Oct
                                </li>
                                <li>
                                    <i class="fa fa-comments"></i>57
                                </li>
                            </ul>
                            <p>
                                TechIn allows it users to publish their own articles, Users can earn money but publishing valueable articles on TechIn.
                            </p>
                            <a asp-controller="Articles" asp-action="ArticleSingle">Read more</a>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom:2%;" class="row">
                    <div class="blog">
                        <div class="blog-img col-sm-4">
                            <img class="img-responsive" src="~/images/blog1.jpg" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h3 style="margin-bottom:0px;">Publish article on TechIn</h3>
                            <ul style="margin-bottom:4px;" class="blog-meta">
                                <li>
                                    <i class="fa fa-user"></i>Fawad Bin Tariq
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i>18 Oct
                                </li>
                                <li>
                                    <i class="fa fa-comments"></i>57
                                </li>
                            </ul>
                            <p>
                                TechIn allows it users to publish their own articles, Users can earn money but publishing valueable articles on TechIn.
                            </p>
                            <a asp-controller="Articles" asp-action="ArticleSingle"><u>Read More</u></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Aside -->
            <aside id="aside" class="col-md-3">

                <!-- Search -->
                <div class="widget">
                    <div class="widget-search">
                        <input class="search-input" type="text" placeholder="search articles">
                        <button class="search-btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- /Search -->
                <!-- Category -->
                <div class="widget">
                    <h3 class="title">Category</h3>
                    <div class="widget-category">
                        <a href="#">
                            Web Design
                            <span>(7)</span>
                        </a>
                        <a href="#">
                            Marketing
                            <span>(142)</span>
                        </a>
                        <a href="#">
                            Web Development
                            <span>(74)</span>
                        </a>
                    </div>
                </div>
                <!-- /Category -->
                <!-- Posts sidebar -->
                <div class="widget">
                    <h3 class="title">Populare Posts</h3>

                    <!-- single post -->
                    <div class="widget-post">
                        <a href="#">
                            <img src="~/images/post1.jpg" alt=""> Blog title goes here
                        </a>
                        <ul class="blog-meta">
                            <li>Oct 18, 2017</li>
                        </ul>
                    </div>
                    <!-- /single post -->
                    <!-- single post -->
                    <div class="widget-post">
                        <a href="#">
                            <img src="~/images/post2.jpg" alt=""> Blog title goes here
                        </a>
                        <ul class="blog-meta">
                            <li>Oct 18, 2017</li>
                        </ul>
                    </div>
                    <!-- /single post -->
                    <!-- single post -->
                    <div class="widget-post">
                        <a href="#">
                            <img src="~/images/post3.jpg" alt=""> Blog title goes here
                        </a>
                        <ul class="blog-meta">
                            <li>Oct 18, 2017</li>
                        </ul>
                    </div>
                    <!-- /single post -->

                </div>
                <!-- /Posts sidebar -->
                <!-- Tags -->
                <div class="widget">
                    <h3 class="title">Tags</h3>
                    <div class="widget-tags">
                        <a href="#">Web</a>
                        <a href="#">Design</a>
                        <a href="#">Graphic</a>
                        <a href="#">Marketing</a>
                        <a href="#">Development</a>
                    </div>
                </div>
                <!-- /Tags -->

            </aside>
            <!-- /Aside -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Blog -->
