@{
    ViewData["Title"] = "Detail";
}


<!-- Blog -->
<div id="blog" class="section">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Main -->
            <main id="main" class="col-md-9">
                <div class="blog">
                    <div class="blog-content">
                        <h1 class="xlg-font">I can't reduce the apk size using proguard on xamarin.android</h1>
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                0
                            </div>
                            <div class="col-xs-10 col-md-11 ">
                                <p>
                                    Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
                                    ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
                                    Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
                                </p>
                            </div>
                        </div>
                        <ul class="blog-meta float-right">
                            <li>
                                <i class="fa fa-user"></i>Fawad Bin Tariq
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>18 Oct
                            </li>
                        </ul>
                    </div>

                    <!-- blog tags -->
                    <div class="blog-tags">
                        <h5>Tags :</h5>
                        <a href="#">
                            <i class="fa fa-tag"></i>Web
                        </a>
                        <a href="#">
                            <i class="fa fa-tag"></i>Design
                        </a>
                        <a href="#">
                            <i class="fa fa-tag"></i>Marketing
                        </a>
                        <a href="#">
                            <i class="fa fa-tag"></i>Development
                        </a>
                    </div>
                    <!-- blog tags -->
                    <!-- blog author -->
                    <div class="blog-author">
                        <div class="media">
                            <div class="media-left">
                                <img style="height:130px;" class="media-object" src="~/images/a.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <h3>Fawad Bin Tariq</h3>
                                    <div class="author-social">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                                <p>
                                    Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa
                                    enim nec.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /blog author -->
                    <!-- blog comments -->
                    <div class="blog-comments">
                        <h3 class="title">(1) Comments</h3>

                        <!-- comment -->
                        <div class="media">
                            <div class="media-left">
                                <img style="height:70px;" class="media-object" src="~/images/a.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    Fawad Bin Tariq
                                    <span class="time">2 min ago</span>
                                    <a href="#" class="reply">
                                        Reply
                                        <i class="fa fa-reply"></i>
                                    </a>
                                </h4>
                                <p>
                                    Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa
                                    enim nec.
                                </p>
                            </div>
                        </div>
                        <!-- /comment -->

                    </div>
                    <!-- /blog comments -->
                    <!-- reply form -->
                    <div class="reply-form">
                        <h3 class="title">Leave a reply</h3>
                        <form>
                            <textarea placeholder="Add Your Commment"></textarea>
                            <button type="submit" class="main-btn">Submit</button>
                        </form>
                    </div>
                    <!-- /reply form -->
                </div>
            </main>
            <!-- /Main -->
            <!-- Aside -->
            <aside id="aside" class="col-md-3">

                <button class="main-btn btn-block">Ask a Question</button>

                <!-- Search -->
                <div class="widget">
                    <div class="widget-search">
                        <input class="search-input" type="text" placeholder="search questions">
                        <button class="search-btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- /Search -->
                <!-- Tags -->
                <div class="widget">
                    <h3 class="title">Tags</h3>
                    <div class="widget-tags">
                        <a href="#">Web</a>
                        <a href="#">Design</a>
                        <a href="#">Graphic</a>
                        <a href="#">Marketing</a>
                        <a href="#">Development</a>
                    </div>
                </div>
                <!-- /Tags -->

            </aside>
            <!-- /Aside -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Blog -->
