
@{
    ViewData["Title"] = "Questions | TechIn";
}

<div class="container sm-padding">
    <div class="row">
        <div class="col-sm-9">
            <div>

                <!-- Nav tabs -->
                <h3>All Questions</h3>

                <ul class="nav nav-tabs navbar-right" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Newest</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Featured</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Top</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <br />
                        <div class="row">
                            <hr />
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>0</strong><br />Votes
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>0</strong><br />Answers
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>15</strong><br />Views
                                </span>
                            </div>
                            <div class="col-xs-9">
                                <h3 class="font-size16 margin-bottom6"><a asp-controller="Question" asp-action="Detail">I can't reduce the apk size using proguard on xamarin.android</a></h3>
                                <span class="widget-tags-sm">
                                    <a href="#">Web</a>
                                    <a href="#">Design</a>
                                    <a href="#">Graphic</a>
                                    <a href="#">Marketing</a>
                                    <a href="#">Development</a>
                                </span>
                                <p class="inline small-font margintop6 float-right"><i class="fa fa-clock-o"></i> asked 9 min ago <a><i class="fa fa-user"></i> Fawad Bin Tariq</a> <strong>54</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <hr />
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>0</strong><br />Votes
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back answer-back">
                                <span>
                                    <strong>1</strong><br />Answer
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>15</strong><br />Views
                                </span>
                            </div>
                            <div class="col-xs-9">
                                <h3 class="font-size16 margin-bottom6"><a>I can't reduce the apk size using proguard on xamarin.android</a></h3>
                                <span class="widget-tags-sm">
                                    <a href="#">Web</a>
                                    <a href="#">Design</a>
                                    <a href="#">Graphic</a>
                                    <a href="#">Marketing</a>
                                    <a href="#">Development</a>
                                </span>
                                <p class="inline small-font margintop6 float-right"><i class="fa fa-clock-o"></i> asked 9 min ago <a><i class="fa fa-user"></i> Fawad Bin Tariq</a> <strong>54</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <hr />
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>0</strong><br />Votes
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>0</strong><br />Answers
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>15</strong><br />Views
                                </span>
                            </div>
                            <div class="col-xs-9">
                                <h3 class="font-size16 margin-bottom6"><a>I can't reduce the apk size using proguard on xamarin.android</a></h3>
                                <span class="widget-tags-sm">
                                    <a href="#">Web</a>
                                    <a href="#">Design</a>
                                    <a href="#">Graphic</a>
                                    <a href="#">Marketing</a>
                                    <a href="#">Development</a>
                                </span>
                                <p class="inline small-font margintop6 float-right"><i class="fa fa-clock-o"></i> asked 9 min ago <a><i class="fa fa-user"></i> Fawad Bin Tariq</a> <strong>54</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <hr />
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>0</strong><br />Votes
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>0</strong><br />Answers
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>15</strong><br />Views
                                </span>
                            </div>
                            <div class="col-xs-9">
                                <h3 class="font-size16 margin-bottom6"><a>I can't reduce the apk size using proguard on xamarin.android</a></h3>
                                <span class="widget-tags-sm">
                                    <a href="#">Web</a>
                                    <a href="#">Design</a>
                                    <a href="#">Graphic</a>
                                    <a href="#">Marketing</a>
                                    <a href="#">Development</a>
                                </span>
                                <p class="inline small-font margintop6 float-right"><i class="fa fa-clock-o"></i> asked 9 min ago <a><i class="fa fa-user"></i> Fawad Bin Tariq</a> <strong>54</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <hr />
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>0</strong><br />Votes
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back answer-backuv">
                                <span>
                                    <strong>1</strong><br />Answer
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>15</strong><br />Views
                                </span>
                            </div>
                            <div class="col-xs-9">
                                <h3 class="font-size16 margin-bottom6"><a>I can't reduce the apk size using proguard on xamarin.android</a></h3>
                                <span class="widget-tags-sm">
                                    <a href="#">Web</a>
                                    <a href="#">Design</a>
                                    <a href="#">Graphic</a>
                                    <a href="#">Marketing</a>
                                    <a href="#">Development</a>
                                </span>
                                <p class="inline small-font margintop6 float-right"><i class="fa fa-clock-o"></i> asked 9 min ago <a><i class="fa fa-user"></i> Fawad Bin Tariq</a> <strong>54</strong></p>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="row">
                            <hr />
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>0</strong><br />Votes
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>0</strong><br />Answers
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>15</strong><br />Views
                                </span>
                            </div>
                            <div class="col-xs-9">
                                <h3 class="font-size16 margin-bottom6"><a asp-controller="Question" asp-action="Detail">I can't reduce the apk size using proguard on xamarin.android</a></h3>
                                <span class="widget-tags-sm">
                                    <a href="#">Web</a>
                                    <a href="#">Design</a>
                                    <a href="#">Graphic</a>
                                    <a href="#">Marketing</a>
                                    <a href="#">Development</a>
                                </span>
                                <p class="inline small-font margintop6 float-right"><i class="fa fa-clock-o"></i> asked 9 min ago <a><i class="fa fa-user"></i> Fawad Bin Tariq</a> <strong>54</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <hr />
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>0</strong><br />Votes
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back answer-back">
                                <span>
                                    <strong>1</strong><br />Answer
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>15</strong><br />Views
                                </span>
                            </div>
                            <div class="col-xs-9">
                                <h3 class="font-size16 margin-bottom6"><a>I can't reduce the apk size using proguard on xamarin.android</a></h3>
                                <span class="widget-tags-sm">
                                    <a href="#">Web</a>
                                    <a href="#">Design</a>
                                    <a href="#">Graphic</a>
                                    <a href="#">Marketing</a>
                                    <a href="#">Development</a>
                                </span>
                                <p class="inline small-font margintop6 float-right"><i class="fa fa-clock-o"></i> asked 9 min ago <a><i class="fa fa-user"></i> Fawad Bin Tariq</a> <strong>54</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <hr />
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>0</strong><br />Votes
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>0</strong><br />Answers
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>15</strong><br />Views
                                </span>
                            </div>
                            <div class="col-xs-9">
                                <h3 class="font-size16 margin-bottom6"><a>I can't reduce the apk size using proguard on xamarin.android</a></h3>
                                <span class="widget-tags-sm">
                                    <a href="#">Web</a>
                                    <a href="#">Design</a>
                                    <a href="#">Graphic</a>
                                    <a href="#">Marketing</a>
                                    <a href="#">Development</a>
                                </span>
                                <p class="inline small-font margintop6 float-right"><i class="fa fa-clock-o"></i> asked 9 min ago <a><i class="fa fa-user"></i> Fawad Bin Tariq</a> <strong>54</strong></p>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <div class="row">
                            <hr />
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>0</strong><br />Votes
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>0</strong><br />Answers
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>15</strong><br />Views
                                </span>
                            </div>
                            <div class="col-xs-9">
                                <h3 class="font-size16 margin-bottom6"><a asp-controller="Question" asp-action="Detail">I can't reduce the apk size using proguard on xamarin.android</a></h3>
                                <span class="widget-tags-sm">
                                    <a href="#">Web</a>
                                    <a href="#">Design</a>
                                    <a href="#">Graphic</a>
                                    <a href="#">Marketing</a>
                                    <a href="#">Development</a>
                                </span>
                                <p class="inline small-font margintop6 float-right"><i class="fa fa-clock-o"></i> asked 9 min ago <a><i class="fa fa-user"></i> Fawad Bin Tariq</a> <strong>54</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <hr />
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>0</strong><br />Votes
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back answer-back">
                                <span>
                                    <strong>1</strong><br />Answer
                                </span>
                            </div>
                            <div class="col-xs-1 grey-back">
                                <span>
                                    <strong>15</strong><br />Views
                                </span>
                            </div>
                            <div class="col-xs-9">
                                <h3 class="font-size16 margin-bottom6"><a>I can't reduce the apk size using proguard on xamarin.android</a></h3>
                                <span class="widget-tags-sm">
                                    <a href="#">Web</a>
                                    <a href="#">Design</a>
                                    <a href="#">Graphic</a>
                                    <a href="#">Marketing</a>
                                    <a href="#">Development</a>
                                </span>
                                <p class="inline small-font margintop6 float-right"><i class="fa fa-clock-o"></i> asked 9 min ago <a><i class="fa fa-user"></i> Fawad Bin Tariq</a> <strong>54</strong></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <aside id="aside" class="col-md-3">

            <!-- Search -->
            <div class="widget">
                <div class="widget-search">
                    <input class="search-input" type="text" placeholder="search questions">
                    <button class="search-btn" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <!-- /Search -->

            <button onclick="location.href='@Url.Action("New", "Question")'" class="main-btn btn-block">Ask a Question</button>
        </aside>
    </div>
</div>
