
@{
    ViewData["Title"] = "Index";
}

    <!-- Blog -->
    <div id="blog" class="section sm-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">
                <div class="col-md-9">
                    <div>
                        <img src="~/images/s.png" class="img-responsive profile-cover" />
                    </div>
                    <!--Cover Div-->
                    <div class="profile-pic-align">
                        <img src="~/images/a.jpg" class="img-responsive img-rounded profile-pic" />
                    </div>
                    <!--/Profile Picture-->
                    <!--Edit-->
                    <div class="right-icon-div">
                        <div class="round-icon-back">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                    <!--/Edit-->
                    <div class="center">
                        <h1 class="profile-name">Fawad Bin Tariq</h1>
                        <i class="fa fa-briefcase"></i>
                        <h2 class="profile-name profile-less inline"> Student at Capital University of Science & Technology</h2>
                        <hr class="col-xs-12">
                        <p>
                            Seeking a position in a competitive environment where I can maximize my technical & programming skills
                            contributing positively to the growth of the company and achieve individual and team goals.
                        </p>
                    </div>
                    <!--/Name Education ends here-->

                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#wall" aria-controls="home" role="tab" data-toggle="tab">Timeline</a>
                            </li>
                            <li role="presentation">
                                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">About</a>
                            </li>
                            <li role="presentation">
                                <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Questions</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="wall">
                                <div class="row">
                                    <div class="post">
                                        <div class="row">
                                            <div class="col-xs-2 col-md-1">
                                                <img src="~/images/a.jpg" class="post-img img-circle" />
                                            </div>
                                            <div class="col-xs-10 col-md-11">
                                                <h6 class="inline small-h">Fawad Bin Tariq</h6>
                                                <br />
                                                <!--Edit-->
                                                <div class="right-post-icon-div">
                                                    <div class="round-icon-back">
                                                        <i class="fa fa-ellipsis-h"></i>
                                                    </div>
                                                </div>
                                                <!--/Edit-->
                                                <p class="inline twelve-font">Student at Capital University of Science & Technology</p>
                                            </div>
                                            <div class="col-xs-12">
                                                <hr />
                                                <p class="black">
                                                    Here are a few highlights of our recent #TalkLikeTED Masterclass organised by DEMO for The World Bank The DEMO team recently
                                                    conducted a #TalkLikeTED Communications & Storytelling Masterclass for
                                                    the World Bank. The workshop helped refine the knowledge and skills of
                                                    the employees in terms of grasping basic communication techniques, presentation
                                                    skills and much more. The session was very informative and interactive
                                                    while the participants were full of optimism and energy. This was part
                                                    of DEMO's Masterclass & Storytelling Series, which proved promising as
                                                    all the participants developed the core basics for creating and presenting
                                                    the best presentations and stories.
                                                </p>
                                                <p>7 Likes</p>
                                                <hr />
                                                <button class="transparent-btn">
                                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                                    Like
                                                </button>
                                                <button class="transparent-btn">
                                                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                                                    Comment
                                                </button>
                                                <button class="transparent-btn">
                                                    <i class="fa fa-share" aria-hidden="true"></i>
                                                    Share
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post">
                                        <div class="row">
                                            <div class="col-xs-2 col-md-1">
                                                <img src="~/images/a.jpg" class="post-img img-circle" />
                                            </div>
                                            <div class="col-xs-10 col-md-11">
                                                <h6 class="inline small-h">Fawad Bin Tariq</h6>
                                                <br />
                                                <!--Edit-->
                                                <div class="right-post-icon-div">
                                                    <div class="round-icon-back">
                                                        <i class="fa fa-ellipsis-h"></i>
                                                    </div>
                                                </div>
                                                <!--/Edit-->
                                                <p class="inline twelve-font">Student at Capital University of Science & Technology</p>
                                            </div>
                                            <div class="col-xs-12">
                                                <hr />
                                                <p class="black">
                                                    Here are a few highlights of our recent #TalkLikeTED Masterclass organised by DEMO for The World Bank The DEMO team recently
                                                    conducted a #TalkLikeTED Communications & Storytelling Masterclass for
                                                    the World Bank. The workshop helped refine the knowledge and skills of
                                                    the employees in terms of grasping basic communication techniques, presentation
                                                    skills and much more. The session was very informative and interactive
                                                    while the participants were full of optimism and energy. This was part
                                                    of DEMO's Masterclass & Storytelling Series, which proved promising as
                                                    all the participants developed the core basics for creating and presenting
                                                    the best presentations and stories.
                                                </p>
                                                <p>7 Likes</p>
                                                <hr />
                                                <button class="transparent-btn">
                                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                                    Like
                                                </button>
                                                <button class="transparent-btn">
                                                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                                                    Comment
                                                </button>
                                                <button class="transparent-btn">
                                                    <i class="fa fa-share" aria-hidden="true"></i>
                                                    Share
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/Wall Div-->
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <div class="row">
                                    <div class="post">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h6 class="inline small-h">Personal Information</h6>
                                                <br />
                                                <!--Edit-->
                                                <div class="right-post-icon-div">
                                                    <div class="round-icon-back" data-toggle="modal" data-target="#personalModal">
                                                        <i class="fa fa-pencil"></i>
                                                    </div>
                                                </div>
                                                <!--/Edit-->
                                                <hr />
                                            </div>
                                            <div class="row">
                                                <div class="container">
                                                    <div class="col-xs-5 col-md-push-2 col-sm-push-1">
                                                        <strong>First Name :</strong>
                                                        <br />
                                                        <strong>Last Name : </strong>
                                                        <br />
                                                        <strong>Phone no : </strong>
                                                        <br />
                                                        <strong>Email : </strong>
                                                        <br />
                                                        <strong>Date of Birth : </strong>
                                                        <br />
                                                        <strong>Gender : </strong>
                                                        <br />
                                                        <strong>Country : </strong>
                                                        <br />
                                                        <strong>City : </strong>
                                                        <br />
                                                    </div>
                                                    <div class="col-xs-7">
                                                        <p class="black zero-margin">Fawad</p>
                                                        <p class="black zero-margin">Bin Tariq</p>
                                                        <p class="black zero-margin">+92-305-5513575</p>
                                                        <p class="black zero-margin">fawad_12@outlook.com</p>
                                                        <p class="black zero-margin">Feb 05, 1997</p>
                                                        <p class="black zero-margin">Male</p>
                                                        <p class="black zero-margin">Pakistan</p>
                                                        <p class="black zero-margin">Islamabad</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!--Experience-->
                                    <div class="post">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h6 class="inline small-h">
                                                    Experience
                                                    <small>(2 Months)</small>
                                                </h6>
                                                <br />
                                                <!--Add-->
                                                <div class="right-post-icon-div">
                                                    <div class="round-icon-back">
                                                        <i class="fa fa-plus"></i>
                                                    </div>
                                                </div>
                                                <!--/Add-->
                                                <hr />
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-3 col-md-2">
                                                    <img src="~/images/java.png" alt="" class="img-thumbnail margin-left20" />
                                                </div>
                                                <div class="col-xs-9 col-md-10">
                                                    <strong class="small-h">Java Developer</strong>
                                                    <!--Edit-->
                                                    <div class="edit-exp-round">
                                                        <div class="round-icon-back">
                                                            <i class="fa fa-pencil"></i>
                                                        </div>
                                                    </div>
                                                    <!--/Edit-->
                                                    <p class="xsmall-h">
                                                        VIRE Technologies, Lahore, Pakistan
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    </p>
                                                    <p class="black">You can write 100 words description here...</p>
                                                    <p>
                                                        Jan 2018 - Feb 2018 &bull;
                                                        <small>1 Month</small>
                                                    </p>
                                                </div>
                                                <div class="col-xs-12">
                                                    <hr class="margin-both-lr" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-3 col-md-2">
                                                    <img src="~/images/java.png" alt="" class="img-thumbnail margin-left20" />
                                                </div>
                                                <div class="col-xs-9 col-md-10">
                                                    <strong class="small-h">Java Developer</strong>
                                                    <!--Edit-->
                                                    <div class="edit-exp-round">
                                                        <div class="round-icon-back">
                                                            <i class="fa fa-pencil"></i>
                                                        </div>
                                                    </div>
                                                    <!--/Edit-->
                                                    <p class="xsmall-h">
                                                        VIRE Technologies, Lahore, Pakistan
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    </p>
                                                    <p class="black">You can write 100 words description here...</p>
                                                    <p>
                                                        Jan 2018 - Feb 2018 &bull;
                                                        <small>1 Month</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/Experience-->
                                    <!--Education-->
                                    <div class="post">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h6 class="inline small-h">Education</h6>
                                                <br />
                                                <!--Add-->
                                                <div class="right-post-icon-div">
                                                    <div class="round-icon-back">
                                                        <i class="fa fa-plus"></i>
                                                    </div>
                                                </div>
                                                <!--/Add-->
                                                <hr />
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 margin-both-lr">
                                                    <strong class="small-h">Java Developer</strong>
                                                    <!--Edit-->
                                                    <div class="edit-exp-round">
                                                        <div class="round-icon-back">
                                                            <i class="fa fa-pencil"></i>
                                                        </div>
                                                    </div>
                                                    <!--/Edit-->
                                                    <p class="xsmall-h">
                                                        VIRE Technologies, Lahore, Pakistan
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    </p>
                                                    <p class="black">You can write 100 words description here...</p>
                                                    <p>
                                                        Jan 2018 - Feb 2018 &bull;
                                                        <small>1 Month</small>
                                                    </p>
                                                </div>
                                                <div class="col-xs-12">
                                                    <hr class="margin-both-lr" />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12 margin-both-lr">
                                                    <strong class="small-h">Java Developer</strong>
                                                    <!--Edit-->
                                                    <div class="edit-exp-round">
                                                        <div class="round-icon-back">
                                                            <i class="fa fa-pencil"></i>
                                                        </div>
                                                    </div>
                                                    <!--/Edit-->
                                                    <p class="xsmall-h">
                                                        VIRE Technologies, Lahore, Pakistan
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    </p>
                                                    <p class="black">You can write 100 words description here...</p>
                                                    <p>
                                                        Jan 2018 - Feb 2018 &bull;
                                                        <small>1 Month</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/Education-->
                                    <!--Skills-->
                                    <div class="post">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h6 class="inline small-h">Skills</h6>
                                                <br />
                                                <!--Add-->
                                                <div class="right-post-icon-div">
                                                    <div class="round-icon-back">
                                                        <i class="fa fa-plus"></i>
                                                    </div>
                                                </div>
                                                <!--/Add-->
                                                <hr />
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 margin-both-lr">
                                                    <div class="widget-tags">
                                                        <a href="#">Java</a>
                                                        <a href="#">Php</a>
                                                        <a href="#">Web Development</a>
                                                        <a href="#">Web Designing</a>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                    <!--/Skills-->
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">Questions in which this user contributes will appear here...</div>
                        </div>

                    </div>


                </div>

                <!-- ***************Modals********************-->
                <div class="modal fade" id="personalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="exampleModalLabel">Personal Information</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <!--First Name-->
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">First Name:</label>
                                        <input type="text" class="input" id="recipient-name" autofocus>
                                    </div>
                                    <!--/First Name-->
                                    <!--Last Name-->
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Last Name:</label>
                                        <input type="text" class="input" id="recipient-name">
                                    </div>
                                    <!--/Last Name-->
                                    <!--Phone No-->
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Phone No:</label>
                                        <input type="text" class="input" id="recipient-name">
                                    </div>
                                    <!--/Phone No-->
                                    <!--Email-->
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Email:</label>
                                        <input type="email" class="input" id="recipient-name">
                                    </div>
                                    <!--/Email-->
                                    <!--DOB-->
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Date of Birth:</label>
                                        <input type="date" class="input" id="recipient-name">
                                    </div>
                                    <!--/DOB-->
                                    <!--Gender-->
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">First Name:</label>
                                        <input type="text" class="input" id="recipient-name">
                                    </div>
                                    <!--/Gender-->
                                    <!--Country-->
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Country:</label>
                                        <select class="form-control">
                                            <option>Pakistan</option>
                                            <option>China</option>
                                        </select>
                                    </div>
                                    <!--/Country-->
                                    <!--City-->
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">City:</label>
                                        <select class="form-control">
                                            <option>Pakistan</option>
                                            <option>China</option>
                                        </select>
                                    </div>
                                    <!--/City-->
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="white-btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="main-btn">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/Modals-->
                <!-- Aside -->
                <aside id="aside" class="col-md-3">

                    <div class="center aside-profile">
                        <h3 class="profile-less">Download CV as PDF</h3>
                        <hr />
                        <p>You can download your TechIn profile as CV!</p>
                        <img src="~/images/pdf_ico.jpg" class="img-responsive" />
                        <button style="margin-top:10px;background-color:#1f618d;background-image:linear-gradient(-180deg,  #1f618d  10%, #1a5276  90%)"
                                class="main-btn btn-block">
                            <b>Download</b>
                        </button>

                    </div>
                    <!--PDF Div-->

                </aside>
                <!-- /Aside -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Blog -->