@{
    ViewData["Title"] = "Home Page";
}

@* Home Wraper is in _Layout File *@


@* ***Question Section*** *@

<div id="question" class="section md-padding">
     @*Container*@ 
    <div class="container">
         @*Row*@ 
        <div class="row">
            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Questions</h2>
            </div>
            <!-- /Section header -->
             @* Questions img *@ 
            <div class="col-sm-6">
                <img src="~/images/question.png" alt="" class="img-responsive" style="max-height:450px;" />
            </div>
            @* /Question img *@
            <div class="col-sm-6">
                 @* ask questions *@ 
                <div class="service bottom-padding2">
                    <i class="fa fa-plus"></i>
                    <h3>Ask Questions</h3>
                    <p>Got stuck in any problem? Ask Question and get your problem solved!</p>
                </div>
                 @* /ask questions *@ 
                 @* answer questions *@ 
                <div class="service bottom-padding2">
                    <i class="fa fa-edit"></i>
                    <h3>Answer Questions</h3>
                    <p>Answer questions and get you reward!</p>
                </div>
                 @*/answer questions*@ 
                 @*answer questions*@ 
                <div class="service bottom-padding2">
                    <i class="fa fa-check"></i>
                    <h3>Rate Questions</h3>
                    <p>Rate positive or negative to help others to improve!</p>
                </div>
                 @*/answer questions*@ 
            </div>
        </div>
         @*/Row*@ 
    </div>
     @*/Container*@ 
</div>

@* ***/Question Section*** *@

<!-- Blog -->
<div id="blog" class="section md-padding bg-grey">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Articles</h2>
            </div>
            <!-- /Section header -->

            <div class="col-md-8 col-md-push-4">
                <div class="center">
                    <img style="max-height:200px; margin-bottom:5%;" class="img-responsive" src="~/images/logotop.png" alt="" />
                    <p class="big-p">
                        Get updated with the latest
                        <strong>news</strong>,
                        <strong>technologies</strong> and
                        <strong>trends</strong> in IT Industry!
                        <br />
                        <br />Publish your own articles and get
                        <strong>paid!</strong>
                    </p>
                </div>
                <!--Center div-->
            </div>

            <!-- blog -->
            <div class="col-md-4 col-md-pull-8">
                <div class="blog">
                    <div class="blog-img">
                        <img class="img-responsive" src="~/images/blog1.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                            <li>
                                <i class="fa fa-user"></i>Fawad Bin Tariq
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>18 Oct
                            </li>
                            <li>
                                <i class="fa fa-comments"></i>57
                            </li>
                        </ul>
                        <h3>Publish article on TechIn</h3>
                        <p>
                            TechIn allows it users to publish their own articles, Users can earn money but publishing valueable articles on TechIn.
                        </p>
                        <a href="blog-single.html">Read more</a>
                    </div>
                </div>
            </div>
            <!-- /blog -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Blog -->
<!-- Jobs -->
<div id="jobs" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Jobs</h2>
            </div>
            <!-- /Section header -->
            <!-- service -->
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-diamond"></i>
                    <h3>Web App Development</h3>
                    <p>Jobs related to .Net, Php, JAVA, Python and languages which run on http web server.</p>
                </div>
            </div>
            <!-- /service -->
            <!-- service -->
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-rocket"></i>
                    <h3>Graphic Design</h3>
                    <p>Jobs related to .Net, Php, JAVA, Python and languages which run on http web server.</p>
                </div>
            </div>
            <!-- /service -->
            <!-- service -->
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-desktop"></i>
                    <h3>Desktop Development</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <!-- /service -->
            <!-- service -->
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-diamond"></i>
                    <h3>SEO</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <!-- /service -->
            <!-- service -->
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-user-secret"></i>
                    <h3>Information Security</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <!-- /service -->
            <!-- service -->
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-server"></i>
                    <h3>Networking</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <!-- /service -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Jobs -->
<!-- Numbers -->
<div id="numbers" class="section sm-padding">

    <!-- Background Image -->
    <div class="bg-img" style="background-image: url('~/images/back.svg');">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->
    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- number -->
            <div class="col-sm-3 col-xs-6">
                <div class="number">
                    <i class="fa fa-users"></i>
                    <h3 class="white-text">
                        <span class="counter">451</span>
                    </h3>
                    <span class="white-text">Users</span>
                </div>
            </div>
            <!-- /number -->
            <!-- number -->
            <div class="col-sm-3 col-xs-6">
                <div class="number">
                    <i class="fa fa-desktop"></i>
                    <h3 class="white-text">
                        <span class="counter">12</span>
                    </h3>
                    <span class="white-text">Jobs</span>
                </div>
            </div>
            <!-- /number -->
            <!-- number -->
            <div class="col-sm-3 col-xs-6">
                <div class="number">
                    <i class="fa fa-question"></i>
                    <h3 class="white-text">
                        <span class="counter">154</span>K
                    </h3>
                    <span class="white-text">Questions</span>
                </div>
            </div>
            <!-- /number -->
            <!-- number -->
            <div class="col-sm-3 col-xs-6">
                <div class="number">
                    <i class="fa fa-file"></i>
                    <h3 class="white-text">
                        <span class="counter">45</span>
                    </h3>
                    <span class="white-text">Articles</span>
                </div>
            </div>
            <!-- /number -->

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Numbers -->
<!-- Team -->
<div id="team" class="section md-padding">

    <!-- Container -->
    <div class="container">

        <!-- Row -->
        <div class="row">

            <!-- Section header -->
            <div class="section-header text-center">
                <h2 class="title">Users</h2>
            </div>
            <!-- /Section header -->

            <div class="col-sm-4">
                <img src="~/images/user.png" alt="User Image" class="img-responsive">
            </div>
            <div class="col-sm-8">
                <p class="big-p">
                    Make your connections with
                    <strong>IT professionals</strong>.
                </p>
                <p class="big-p">
                    <strong>Learn</strong> and
                    <strong>Earn</strong> at the same place.
                </p>
            </div>

        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->

</div>
<!-- /Team -->
<!--Sign Up-->
<div class="jumbotron no-margin blue-background text-center">
    <p class="big-p">
        Get started for free — join the
        <strong>IT World</strong>
    </p>
    <div class="row">
        <div class="container">
            <div class="col-sm-3">
                <input type="text" class="input" placeholder="Pick a username" aria-labelledby="Username" />
            </div>
            <div class="col-sm-3">
                <input type="email" class="input" placeholder="Your email address" aria-labelledby="Email" />
            </div>
            <div class="col-sm-3">
                <input type="password" class="input" placeholder="Create a password" aria-labelledby="Password" />
            </div>
            <div class="col-sm-3">
                <button class="main-btn btn-block blue-g-btn">
                    <b>Sign up for TechIn</b>
                </button>
            </div>
        </div>
    </div>
    <p class="sm-signup-p">
        By clicking "Sign up for TechIn", you agree to our terms of service and privacy policy. We’ll occasionally send you account
        related emails.
    </p>
</div>
<!--/Sign Up-->
